@import "tailwindcss";


/* Ahora puedes usar tus estilos personalizados */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }

  p.subtitle {
    font-family: 'Consolas', monospace;
  }


  /* 🔧 Forzar limpieza de fondos sólidos */
  html,
  body,
  #__next,
  main,
  section {
    background: transparent !important;
    background-color: transparent !important;
  }


}